<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dhbw.timetable">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dhbw.timetable.navfragments.preferences.PreferencesActivity"
            android:label="@string/action_settings"/>
        <activity
            android:name="dhbw.timetable.navfragments.preferences.timetables.ManageTimetablesActivity"
            android:label="Timetables"/>
        <activity
            android:name="dhbw.timetable.navfragments.preferences.timetables.NewTimetableActivity"
            android:label="New timetable"/>
        <activity
            android:name="dhbw.timetable.navfragments.preferences.timetables.EditTimetableActivity"
            android:label="Edit timetable"/>
    </application>
</manifest>